<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .home-content{
                margin-top: 370px;
                margin-left: 560px;
                display : flex;
            }
            .button{
                margin-right : 60px;
                padding: 10px 20px;
                background-color : rgba(0,256,0,0.3);
                border-radius : 4px;
                width : 150px; 
                cursor: pointer;
                font-size : 1rem;
            }
        </style>
    </head>
    <body>
        <div class="home-content">
            <form action="/purchase">
                <button class="button">Purchase</button>
            </form>
            <form action="/stock">
                <button class="button">Stock</button>
            </form>
            <form action="/sales">
                <button class="button">Sales</button>
            </form>
        </div>
    </body>
</html>